//////////// Variables /////////////

// Colors

$color-primary: hsl(0, 100%, 74%);
$color-secondary: hsl(154, 59%, 51%);
$color-side: hsl(248, 32%, 49%);
$color-neutral-dark: hsl(249, 10%, 26%);
$color-neutral-light: hsl(246, 25%, 77%);
$color-border: hsla(24, 0%, 62%, 0.4);
$color-btn-border: hsl(154, 58%, 45%);
$color-white: #fff;

// Fonts

$font-primary: "Poppins", sans-serif;

// Breakpoints
$bp-smallest: 28rem;
$bp-medium: 37.5rem;
$bp-large: 62.5rem;
// 90 rem

/////////// Styles //////////////

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px/16px
  font-family: $font-primary;
  color: $color-white;
}

body {
  background-image: url(../images/bg-intro-mobile.png);
  background-color: $color-primary;

  @media only screen and (min-width: $bp-large) {
    height: 100vh;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem;

  text-align: center;

  @media only screen and (min-width: $bp-large) {
    flex-direction: row;
    min-height: 90vh;
  }
}

.heading {
  max-width: max-content;

  @media only screen and (min-width: $bp-medium) {
    width: 550px;
  }

  @media only screen and (min-width: $bp-large) {
    max-width: 550px;
    margin-right: 5rem;
    text-align: left;
  }

  &--primary {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 3rem;
    padding-bottom: 1.5rem;

    @media only screen and (min-width: $bp-smallest) {
      font-size: 3.5rem;
    }

    @media only screen and (min-width: $bp-large) {
      font-size: 5rem;
      margin-bottom: 2rem;
    }
  }

  &--secondary {
    font-weight: 400;
    padding-bottom: 6rem;
    font-size: 1.6rem;

    @media only screen and (min-width: $bp-smallest) {
      font-size: 2rem;
    }
  }
}

.claim__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;

  @media only screen and (min-width: $bp-large) {
    min-width: 550px;
    height: min-content;
  }
}

.claim__heading {
  height: 70px;
  background-color: $color-side;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 1.5rem;
  box-shadow: 0px 6px 3px 2px rgba(0, 0, 0, 0.23);

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $bp-large) {
    font-size: 1.7rem;
  }

  &--bold {
    font-weight: 800;
  }
}

.claim__form {
  min-height: min-content;
  background-color: white;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1.5rem;
  margin-top: 2rem;

  box-shadow: 0px 6px 3px 2px rgba(0, 0, 0, 0.23);

  @media only screen and (min-width: $bp-large) {
    height: 550px;
    justify-content: space-evenly;
  }

  &__container {
    height: min-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  &--input {
    height: 50px;
    width: 90%;
    padding: 1rem;
    margin: 1.5rem 1.5rem 0.2rem 1.5rem;
    border-radius: 5px;
    border: 1px solid $color-border;
    font-weight: 800;
    font-size: 1.4rem;

    @media only screen and (min-width: $bp-large) {
      height: 60px;
    }
  }

  &--icon {
    width: 2.5rem;
    height: 2.5rem;

    position: absolute;
    top: 25px;
    right: 50px;

    @media only screen and (min-width: $bp-large) {
      top: 30px;
    }
  }

  &--alert {
    color: $color-primary;
    align-self: flex-end;
    padding: 0 3rem;
    font-style: italic;

    @media only screen and (min-width: $bp-large) {
      font-size: 1.1rem;
    }
  }

  &--btn {
    height: 50px;
    width: 90%;
    text-transform: uppercase;
    background-color: $color-secondary;
    color: $color-white;
    font-weight: 800;
    border-radius: 8px;
    padding: 1rem;
    margin: 2rem 2rem 1rem 2rem;
    border: 2px solid $color-btn-border;
    cursor: pointer;

    @media only screen and (min-width: $bp-large) {
      height: 60px;
    }
  }

  &--btn:hover {
    background-color: $color-btn-border;
  }

  &__tandc {
    color: $color-neutral-light;
    font-weight: 600;
    padding: 0 1rem;

    @media only screen and (min-width: $bp-large) {
      font-size: 1.2rem;
    }

    &--bold {
      color: $color-primary;
    }
  }
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;

  margin: 3rem;

  @media only screen and (min-width: $bp-large) {
    margin: 1rem;
  }
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
